#Heading{
    color: blueviolet;
}
.h1{
    color: rgba(255,0,0,.8);
    background-color: aqua;
}
h1{
    color: brown;
}
div{
    color: mediumaquamarine;
    align-items: center;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
#heading{
       font-family: Georgia, 'Times New Roman', Times, serif;

}
#para{
    line-height: 40px;
    word-spacing: 10px;
    letter-spacing: 5px;
    

}